@media only screen and (min-width: 513px) {
  .layer-container-position {
    right: calc(15px + 40px);
    width: 100%;
  }
}

@media only screen and (min-width: 350px) and (max-width: 512px) {
  .layer-container-position {
    left: calc(50% - 166px);
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .layer-container-position {
    left: 10px;
    width: calc(100% - 20px);
  }
}

.layer-container-position {
  z-index: 1;
  max-width: 332px;
  
  top: var(--top-distance);
  position: absolute;
}

@media only screen and (min-width: 513px) {
    .custom-popup-element-position {
      right: calc(15px + 40px);
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 350px) and (max-width: 512px) {
    .custom-popup-element-position {
      left: calc(50% - 166px);
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 350px) {
    .custom-popup-element-position {
      left: 10px;
      width: calc(100% - 20px);
    }
  }

.custom-popup-element-position {
  font-family: sans-serif;
  position: absolute;
  top: 10px;
  z-index: 2;
  max-width: 332px;
}
