.ol-zoom {
  width: var(--icon-width) !important;
}

.ol-full-screen {
  width: var(--icon-width) !important;
  height: var(--icon-height) !important;
}

.ol-zoom > button {
  margin: 0px;
}

.ol-full-screen > button,
.ol-full-screen-custom-small > button,
.ol-full-screen-custom-medium > button,
.ol-full-screen-custom-large > button {
  border-radius: var(--icon-border-radius);
  margin: 0px;
  cursor: pointer;
}

.ol-zoom-in,
.ol-zoom-out,
.information-control,
.center-control,
.center-control,
.rotation-control,
.rotation-control,
.ol-full-screen-true,
.ol-full-screen-false {
  width: var(--icon-width) !important;
  height: var(--icon-height) !important;
  background-color: var(--control-background-color) !important;
  border-radius: var(--icon-border-radius);
  cursor: pointer;
}

.ol-zoom-in {
  border-radius: 0px !important;
  border-top-right-radius: var(--icon-border-radius) !important;
  border-top-left-radius: var(--icon-border-radius) !important;
}

.ol-zoom-out {
  border-radius: 0px !important;
  border-bottom-right-radius: var(--icon-border-radius) !important;
  border-bottom-left-radius: var(--icon-border-radius) !important;
}

.ol-zoom-in > div > svg,
.ol-zoom-out > div > svg,
.ol-full-screen-true > div > svg,
.ol-full-screen-false > div > svg { 
  width: var(--svg-icon-size) !important;
  height: var(--svg-icon-size) !important;
}

.ol-zoom-in > div > svg > g > .icon,
.ol-zoom-out > div > svg > g > .icon,
.ol-full-screen-true > div > svg > g > .icon,
.ol-full-screen-false > div > svg > g > .icon {
    fill: none;
    stroke: var(--control-icon-color);
    stroke-width: var(--icon-stroke-width);
    stroke-linejoin: round;
    stroke-linecap: round;
}

@media only screen and (min-width: 420px) {

  .ol-zoom {
    top: var(--top-distance);
    left: var(--side-distance);
  }

  .ol-full-screen {
    top: calc(calc(var(--top-distance) * 2) + var(--icon-height));
    right: var(--side-distance);
  }

  .information-control {
    right: var(--side-distance);
    top: var(--top-distance);
  }

  .center-control {
    top: calc(calc(var(--top-distance) * 2) + calc(var(--icon-height) * 2));
    left: var(--side-distance);
  }

  .rotation-control{
    top: calc(calc(var(--top-distance) * 3) + calc(var(--icon-height) * 3));
    left: var(--side-distance);
  }

}

@media only screen and (max-width: 419px) {

  .ol-zoom {
    top: calc(calc(var(--top-distance) * 2) + var(--box-height));
    left: var(--side-distance);
  }

  .ol-full-screen{
    top: calc(calc(var(--top-distance) * 3) + var(--box-height) + var(--icon-height));
    right: var(--side-distance);
  }

  .information-control {
    right: var(--side-distance);
    top: calc(calc(var(--top-distance) * 2) + var(--box-height));
  }

  .center-control {
    top: calc(calc(var(--top-distance) * 3) + 75px + var(--box-height));
    left: var(--side-distance);
  }

  .rotation-control{
    top: calc(calc(var(--top-distance) * 4) + 75px + var(--box-height) + var(--icon-height));
    left: var(--side-distance);
  }
}