.notification-element {
  --icon-size: 32px;
  position: absolute;
  bottom: 5%;
  background-color: var(--notification-background-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  z-index: 10;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 302px;
  width: 100%;
}

.notification-title > svg {
  width: var(--icon-size);
  height: var(--icon-size);
  padding-right: 10px;
}

.notification-title > svg > g > .icon {
  fill: none;
  stroke: var(--notification-stroke-color);
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.notification-title {
  display: flex;
}

.notification-title-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--notification-text-color);
}