.custom-popup-element {
  background-color: var(--information-box-background-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: var(--box-border-radius);
  border: 1px solid var(--information-box-background-color);
}

.custom-popup-element:after {
  content: '';
  width: var(--progress-width);
  height: 4px;
  background: #008C6F;
  position: absolute;
  bottom: -1px;
  left: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: var(--border-radius-right);
}

.custom-popup-title {
  display: flex;
}

.custom-popup-title-text {
  width: 90%;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--information-box-title-color);
  align-items: center;
  display: flex;
}

.custom-popup-title-svg {
  width: 10%;
  justify-content: flex-end;
  display: flex;
  fill: none;
  stroke: var(--information-box-title-color);
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
  cursor: pointer;
}

.custom-popup-title-svg:hover {
  stroke: var(--information-cross-hover-color);
}

.custom-popup-content {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--information-box-text-color);
}

svg {
  width: var(--svg-icon-size);
  height: var(--svg-icon-size);
  stroke: var(--information-box-title-color);
}

svg:hover {
  stroke: var(--information-cross-hover-color);
}

svg > g > .icon {
  fill: none;
  stroke-width: var(--icon-stroke-width);
  stroke-linejoin: round;
  stroke-linecap: round;
}

.cross-div {
  width: var(--svg-icon-size);
  height: var(--svg-icon-size);
  cursor: pointer;
}