@media only screen and (min-width: 420px) {

  .custom-popup-element {
    right: calc(0.5em + 40px);
  }

}

@media only screen and (max-width: 419px) {
  
  .custom-popup-element {
    left: calc(50% - 172px);
  }

}

.custom-popup-element {
  font-family: Times sans-serif;
  position: absolute;
  top: 5px;
  background-color: var(--information-box-background-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 4px;
  border: 1px solid var(--information-box-background-color);
  z-index: 10;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 302px;
  width: 100%;
}

.custom-popup-element:after {
  content: '';
  width: var(--progress-width);
  height: 4px;
  background: #008C6F;
  position: absolute;
  bottom: -1px;
  left: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: var(--border-radius-right);
}

.custom-popup-title {
  display: flex;
}

.custom-popup-title-text {
  width: 90%;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--information-box-title-color);
}

.custom-popup-title-svg {
  width: 10%;
  justify-content: flex-end;
  display: flex;
  fill: none;
  stroke: var(--information-box-title-color);
  stroke-width: 2px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.custom-popup-content {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--information-box-text-color);
}