@media only screen and (min-width: 351px) and (max-width: 995px) {
    .search-container {
      left: calc((100% - 334px) / 2);
      width: 100%;
      max-width: 332px;
    }
}
  
@media only screen and (max-width: 350px) {
    .search-container {
      left: 10px;
      width: calc(100% - 20px);
      max-width: 332px;
    }
}

@media only screen and (min-width: 996px) {
    .search-container {
      left: calc((100% - (var(--search-width) + 30px)) / 2);
      width: calc(var(--search-width) + 30px);
    }
}

.search-container {
    position: absolute;
    top: var(--top-distance);
    z-index: 0;
}

.search-input-container {
    border-radius: var(--icon-border-radius);
    border: 1px solid var(--icon-border-color);
    display: flex;
    background-color: var(--information-box-background-color);
    margin-bottom: 1px;
}

.search-input {
    width: calc(100% - 13px);
    height: 44px;
    padding: 0;
    border: none;
    outline: none;
    padding-left: 11px;
    font-size: 14px;
    background-color: var(--information-box-background-color);
    color: var(--suggestion-box-text-color);
    font-family: sans-serif;
}

.search-svg-container {
    width: 29px;
    height: 44px;
    margin-right: 11px;
    display: flex;
    align-items: center;
}

ul {
    margin-top: 0px;
    list-style-type: none;
    background-color: var(--information-box-background-color);;
    padding-left: 0;
    border-radius: var(--icon-border-radius);
}

ul > :first-child {
    border-top-right-radius: var(--icon-border-radius);
    border-top-left-radius: var(--icon-border-radius);
}

li {
    height: 40px;
    border-bottom: 1px solid var(--icon-border-color);
    padding-left: 11px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: start;
    color: var(--suggestion-box-text-color);
    font-family: sans-serif;
    cursor: pointer;
}

ul > :last-child {
    border-bottom-right-radius: var(--icon-border-radius);
    border-bottom-left-radius: var(--icon-border-radius);
}

li:hover,
li:focus {
    background-color: var(--icon-border-color);
}

svg {
    width: var(--svg-icon-size);
    height: var(--svg-icon-size);
    stroke: var(--information-box-title-color);
}

svg:hover {
    stroke: var(--information-cross-hover-color);
}

svg > g > .icon {
  fill: none;
  stroke-width: var(--icon-stroke-width);
  stroke-linejoin: round;
  stroke-linecap: round;
}

.cross-div {
    width: var(--svg-icon-size);
    height: var(--svg-icon-size);
    cursor: pointer
}