@media only screen and (min-width: 351px) and (max-width: 995px) {
  .box-element {
    left: calc(50% - 167px);
    width: calc(100% - 30px);
    max-width: 302px;
  }
}

@media only screen and (max-width: 350px) {
  .box-element {
    left: 10px;
    width: calc(100% - 50px);
    max-width: 302px;
  }
}

@media only screen and (min-width: 996px) {
  .box-element {
    left: calc((100% - (var(--target-box-width) + 30px)) / 2);
    width: calc(var(--target-box-width));
  }
}

.box-element {
  position: absolute;
  top: 10px;
  background-color: var(--information-box-background-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: var(--box-border-radius);
  border: 1px solid var(--information-box-background-color);
}

.box-element-title {
  display: flex;
}

.box-element-title-text {
  width: 90%;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--information-box-title-color);
}

.box-element-content {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--information-box-text-color);
}
