.notification-element-info-light {
    --notification-background-color: #DBEAFE;
    --notification-stroke-color: #1D4ED8;
    --notification-text-color: #1D4ED8;
}

.notification-element-info-dark {
    --notification-background-color: #2563EB;
    --notification-stroke-color: #FFFFFF;
    --notification-text-color: #FFFFFF;
}

.notification-element-warning-light {
    --notification-background-color: #FEF3C7;
    --notification-stroke-color: #B45309;
    --notification-text-color: #B45309;
}

.notification-element-warning-dark {
    --notification-background-color: #D97706;
    --notification-stroke-color: #FFFFFF;
    --notification-text-color: #FFFFFF;
}

.notification-element-error-light {
    --notification-background-color: #FEE2E2;
    --notification-stroke-color: #B91C1C;
    --notification-text-color: #B91C1C;
}

.notification-element-error-dark {
    --notification-background-color: #DC2626;
    --notification-stroke-color: #FFFFFF;
    --notification-text-color: #FFFFFF;
}