:host > .no-box {
    --box-height: 0px;
    --top-distance: 10px;
}

:host > .select {
    --box-height: 68px;
    --top-distance: 10px;
}

:host > .large {
    --box-height: 79px;
    --top-distance: 10px;
}

:host > .medium {
    --box-height: 64px;
    --top-distance: 10px;
}

:host > .small {
    --box-height: 49px;
    --top-distance: 10px;
}

:host > .light {
    --control-background-color: rgb(30 41 59 / 75%);
    --control-background-color-hover: rgb(30 41 59 / 100%);
    --control-icon-color: white;
    --information-box-background-color: white;
    --information-box-title-color: #1E293B;
    --information-cross-hover-color: rgb(30 41 59 / 75%);
    --information-box-text-color: #334155;
    --select-icon-background: #1E293B;
}

:host > .dark {
    --control-background-color: rgb(255 255 255 / 75%);
    --control-background-color-hover: rgb(255 255 255 / 100%);
    --control-icon-color: #1E293B;
    --information-box-background-color: #1F2937;
    --information-box-title-color: #F3F4F6;
    --information-cross-hover-color: rgb(255 255 255 / 75%);
    --information-box-text-color: #9CA3AF;
    --select-icon-background: rgb(255,255,255, 0.75);
}

:host > #map {
    --icon-width: 36px;
    --icon-height: 36px;
    --side-distance: 10px;
    --icon-border-radius: 4px;
    --boc-border-radius: 4px;
    --svg-icon-size: 26px;
    --icon-stroke-width: 2px;
}